.chart-container {
  margin-bottom: 0px !important;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.chart-total {
  margin-top: 5px;
  font-weight: bold;
  text-align: right;
}
