.admin-sidebar {
  width: 200px;
  background-color: var(--side-menu-bg);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  margin-bottom: 10px;
}

.admin-sidebar a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 500;
}

.admin-sidebar a.active {
  color: #3498db;
}
.admin-sidebar a:hover {
  color: #2980b9;
}