.sales-chart-container {
  background: var(--section-bg);
  color: var(--main-text);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 40px;
}

.sales-chart-container h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--main-text);
}
.sales-chart {
  width: 100%;
  height: 300px;
  color: var(--main-text);
}