/****** Object:  Database [SecondWearDB]    Script Date: 6/25/2025 9:28:45 AM ******/
CREATE DATABASE [SecondWearDB]
GO
USE [SecondWearDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[complaint_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[complaint_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[order_date] [datetime] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[method] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[payment_date] [datetime] NULL,
	[amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] INT IDENTITY(1,1) NOT NULL,
	[name] NVARCHAR(100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Product]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[condition] [nvarchar](50) NULL,
	[size] [nvarchar](20) NULL,
	[color] [nvarchar](50) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[category_id] INT NULL,
	[brand] [nvarchar](100) NULL,
	[origin] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
),
CONSTRAINT FK_Product_Category FOREIGN KEY (category_id) REFERENCES Category(category_id)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE Product
ADD approved BIT DEFAULT 0;
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image_url] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal] (10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
),
CONSTRAINT FK_OrderItem_Order FOREIGN KEY (order_id) REFERENCES [Order](order_id),
CONSTRAINT FK_OrderItem_Product FOREIGN KEY (product_id) REFERENCES [Product](product_id)
) ON [PRIMARY]
GO
ALTER TABLE [OrderItem]
ADD [status] NVARCHAR(50) NOT NULL
CONSTRAINT DF_OrderItem_Status DEFAULT N'Đang xử lý';
GO
/****** Object:  Table [dbo].[Resolution]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resolution](
	[resolution_id] [int] IDENTITY(1,1) NOT NULL,
	[complaint_id] [int] NOT NULL,
	[result] [nvarchar](max) NULL,
	[resolution_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[resolution_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[review_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[shipping_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[carrier] [nvarchar](50) NULL,
	[status] [nvarchar](50) NOT NULL,
	[shipping_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/25/2025 9:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [user_id], [role_id], [password], [status]) VALUES (1, 1, 2, N'pass_seller_1', N'active')
INSERT [dbo].[Account] ([account_id], [user_id], [role_id], [password], [status]) VALUES (2, 2, 2, N'pass_seller_2', N'active')
INSERT [dbo].[Account] ([account_id], [user_id], [role_id], [password], [status]) VALUES (3, 3, 2, N'pass_seller_3', N'active')
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaint] ON 

INSERT [dbo].[Complaint] ([complaint_id], [account_id], [description], [status], [complaint_date]) VALUES (1, 54, N'Người bán không phản hồi tin nhắn.', N'Đã giải quyết', CAST(N'2025-04-30T23:22:55.637' AS DateTime))
INSERT [dbo].[Complaint] ([complaint_id], [account_id], [description], [status], [complaint_date]) VALUES (2, 25, N'Người bán không phản hồi tin nhắn.', N'Đang xử lý', CAST(N'2025-05-04T23:22:55.640' AS DateTime))
INSERT [dbo].[Complaint] ([complaint_id], [account_id], [description], [status], [complaint_date]) VALUES (3, 50, N'Hàng bị lỗi rách nhỏ, không được kiểm tra kỹ.', N'Đang xử lý', CAST(N'2025-05-12T23:22:55.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[Complaint] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [account_id], [status], [order_date], [total_amount]) VALUES (1, 51, N'Hoàn thành', CAST(N'2025-05-25T23:22:55.533' AS DateTime), CAST(1008000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([order_id], [account_id], [status], [order_date], [total_amount]) VALUES (2, 52, N'Hoàn thành', CAST(N'2025-05-27T23:22:55.533' AS DateTime), CAST(262000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order] ([order_id], [account_id], [status], [order_date], [total_amount]) VALUES (3, 53, N'Đã giao', CAST(N'2025-05-30T23:22:55.533' AS DateTime), CAST(567000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [order_id], [method], [status], [payment_date], [amount]) VALUES (1, 1, N'Thanh toán khi nhận hàng (COD)', N'Đã thanh toán', CAST(N'2025-05-26T23:22:55.553' AS DateTime), CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[Payment] ([payment_id], [order_id], [method], [status], [payment_date], [amount]) VALUES (2, 2, N'Chuyển khoản ngân hàng', N'Đã thanh toán', CAST(N'2025-05-28T23:22:55.553' AS DateTime), CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[Payment] ([payment_id], [order_id], [method], [status], [payment_date], [amount]) VALUES (3, 3, N'Momo', N'Đã thanh toán', CAST(N'2025-05-31T23:22:55.553' AS DateTime), CAST(120000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO

SET IDENTITY_INSERT [dbo].[Category] ON

INSERT [dbo].[Category] ([category_id], [name]) VALUES (1, N'Áo')
INSERT [dbo].[Category] ([category_id], [name]) VALUES (2, N'Quần')
INSERT [dbo].[Category] ([category_id], [name]) VALUES (3, N'Váy / Đầm')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO

SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [account_id], [name], [description], [condition], [size], [color], [price], [status], [quantity], [category_id], [brand], [origin]) VALUES (1, 1, N'Áo thun cotton', N'Áo thun cotton mềm mại, thoáng mát, phù hợp mọi dịp.', N'Như mới', N'L', N'Be', CAST(202000.00 AS Decimal(10, 2)), N'Đang bán', 1, 1, N'KADNE', N'Việt Nam')
INSERT [dbo].[Product] ([product_id], [account_id], [name], [description], [condition], [size], [color], [price], [status], [quantity], [category_id], [brand], [origin]) VALUES (2, 2, N'Quần jean skinny', N'Quần jean skinny ôm sát, tôn dáng, phong cách hiện đại.', N'Như mới', N'XXL', N'Đen', CAST(74000.00 AS Decimal(10, 2)), N'Đang bán', 2, 2, N'unknown', N'Việt Nam')
INSERT [dbo].[Product] ([product_id], [account_id], [name], [description], [condition], [size], [color], [price], [status], [quantity], [category_id], [brand], [origin]) VALUES (3, 3, N'Váy hoa maxi', N'Váy hoa maxi dài nhẹ nhàng, nữ tính, lý tưởng cho mùa hè.', N'Mới 99%', N'XL', N'Đỏ', CAST(262000.00 AS Decimal(10, 2)), N'Đang bán', 1, 3, N'unknown', N'Việt Nam')
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([image_id], [product_id], [image_url]) VALUES (1, 1, N'https://res.cloudinary.com/ddedwlu2h/image/upload/v1750649793/1.1_vzm03p.webp')
INSERT [dbo].[ProductImage] ([image_id], [product_id], [image_url]) VALUES (2, 1, N'https://res.cloudinary.com/ddedwlu2h/image/upload/v1750649793/1.2_a9axwy.webp')
INSERT [dbo].[ProductImage] ([image_id], [product_id], [image_url]) VALUES (3, 1, N'https://res.cloudinary.com/ddedwlu2h/image/upload/v1750649793/1.3_vx3djs.webp')
GO
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON


SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Resolution] ON 

INSERT [dbo].[Resolution] ([resolution_id], [complaint_id], [result], [resolution_date]) VALUES (1, 1, N'Đã yêu cầu người bán gửi đúng sản phẩm.', CAST(N'2025-05-03T23:22:55.637' AS DateTime))
INSERT [dbo].[Resolution] ([resolution_id], [complaint_id], [result], [resolution_date]) VALUES (2, 2, N'Đã làm việc với đơn vị vận chuyển để đẩy nhanh quá trình giao hàng.', CAST(N'2025-05-07T23:22:55.640' AS DateTime))
INSERT [dbo].[Resolution] ([resolution_id], [complaint_id], [result], [resolution_date]) VALUES (3, 3, N'Đã yêu cầu người bán cải thiện chất lượng sản phẩm.', CAST(N'2025-05-14T23:22:55.640' AS DateTime))
SET IDENTITY_INSERT [dbo].[Resolution] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([review_id], [product_id], [account_id], [rating], [comment], [review_date]) VALUES (1, 197, 117, 4, N'Phù hợp với giá tiền, sẽ mua thêm nếu có dịp.', CAST(N'2025-05-30T23:22:55.837' AS DateTime))
INSERT [dbo].[Review] ([review_id], [product_id], [account_id], [rating], [comment], [review_date]) VALUES (2, 164, 55, 3, N'Sản phẩm tốt ngoài mong đợi!', CAST(N'2025-04-18T23:22:55.837' AS DateTime))
INSERT [dbo].[Review] ([review_id], [product_id], [account_id], [rating], [comment], [review_date]) VALUES (3, 223, 77, 5, N'Vải rất mát, mặc không bị bí.', CAST(N'2025-06-07T23:22:55.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'customer')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (4, N'guest')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([shipping_id], [order_id], [carrier], [status], [shipping_date]) VALUES (1, 1, N'Giao hàng nhanh', N'Đã giao', CAST(N'2025-05-27T23:22:55.570' AS DateTime))
INSERT [dbo].[Shipping] ([shipping_id], [order_id], [carrier], [status], [shipping_date]) VALUES (2, 2, N'Giao hàng tiết kiệm', N'Đã giao', CAST(N'2025-05-29T23:22:55.570' AS DateTime))
INSERT [dbo].[Shipping] ([shipping_id], [order_id], [carrier], [status], [shipping_date]) VALUES (3, 3, N'Viettel Post', N'Đã giao', CAST(N'2025-06-01T23:22:55.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipping] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [name], [email], [phone], [address]) VALUES (1, N'Nguyễn Văn Anh', N'nguyenvananh@gmail.com', N'0901234567', N'123 Đường Lý Thường Kiệt, Q.1, TP.HCM')
INSERT [dbo].[User] ([user_id], [name], [email], [phone], [address]) VALUES (2, N'Trần Thị Hồng', N'tranthihong@gmail.com', N'0902345678', N'456 Đường Lê Lợi, Q. Bình Thạnh, TP.HCM')
INSERT [dbo].[User] ([user_id], [name], [email], [phone], [address]) VALUES (3, N'Lê Văn Cường', N'levancuong@gmail.com', N'0903456789', N'789 Đường Hai Bà Trưng, Q. Hoàn Kiếm, Hà Nội')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [UQ__Payment__4659622826281729]    Script Date: 6/25/2025 9:28:45 AM ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Resoluti__A771F61D5AC3D260]    Script Date: 6/25/2025 9:28:45 AM ******/
ALTER TABLE [dbo].[Resolution] ADD UNIQUE NONCLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__783254B124E87766]    Script Date: 6/25/2025 9:28:45 AM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Shipping__46596228D40E4491]    Script Date: 6/25/2025 9:28:45 AM ******/
ALTER TABLE [dbo].[Shipping] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E616407C13D67]    Script Date: 6/25/2025 9:28:45 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Complaint] ADD  DEFAULT (getdate()) FOR [complaint_date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Resolution] ADD  DEFAULT (getdate()) FOR [resolution_date]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resolution]  WITH CHECK ADD FOREIGN KEY([complaint_id])
REFERENCES [dbo].[Complaint] ([complaint_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
